{#<!-- <!DOCTYPE html>
<html>
<head>
    <title>Student Dashboard</title>
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='CSS/student.css') }}">
</head>
<body>
    {%include 'toast.html' %}
    <div class="container">
        <h2>Welcome, {{ student.name }}</h2>
        <p>Student ID: {{ student.student_id }}</p>
        <p>Courses: {{ student.courses }}</p>
        <p>Username: {{ student.user.username }}</p>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</body>
</html> -->#}

<!DOCTYPE html>
<html>
<head>
    <title>Student Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/student.css') }}">
</head>
<body>
    {% include 'toast.html' %}
    <div class="container">
        <h2>Welcome, {{ student.name }}</h2>
        <p>Student ID: {{ student.student_id }}</p>
        <p>Username: {{ student.user.username }}</p>
        
        <h3>Your Enrolled Courses</h3>
        <ol>
            {% for enrollment in student.enrollments %}
                <li>{{ enrollment.course.title }}</li>
            {% endfor %}
        </ol>
        
        <a href="{{ url_for('course_list')}}">Available Courses</a>
    {#<!--<ul>
        {% for course in courses %}
            <li>
                {{ course.title }}
                <a href="{{ url_for('enroll', course_id=course.id) }}" class="btn-sm">Enroll</a>
            </li>
        {% endfor %}
    </ul>-->#}
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</body>
</html>
